.card-body {
  margin: 60px auto;
  padding: 30px;
  font-size: 14px;
  width: 45vw;
  transition: all 0.5s ease-in-out;
  text-align: justify;
}

.card-body1 {
  background-color: #3e395e;
  color: #d0d9c9
}

.card-body1.light {
  background-color: #d0d9c9;
  color: #3e395e;
}